<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход · Desperate-gamblers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .auth-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center; /* Горизонтальное центрирование */
            justify-content: flex-start; /* Выравнивание по верху */
            padding-top: 60px; /* Отступ сверху */
            min-height: calc(100vh - 70px);
        }
    </style>
</head>
<body>
    <header>
        <div style="font-weight: 600;">Desperate-gamblers</div>
    </header>

    <div class="auth-wrapper">
        <h2>Вход</h2>
        <div class="auth-container">
            <form method="POST">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" placeholder="Введите логин" required>

                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required>

                <button type="submit" class="btn-primary">Войти</button>
            </form>
        </div>
        <div class="footer-link">
            Ещё нет аккаунта? <a href="{{ url_for('register')}}">Создать аккаунт</a>.
        </div>
    </div>
</body>
</html>
